html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing:inherit;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#d1bfb6;
}
.intro{
    display:flex;
    background-image: url(https://images.unsplash.com/photo-1496661415325-ef852f9e8e7c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1699&q=80);
    justify-content:center;
    height:150px;
    color:white;
    align-items: center;
    text-align: center;
}
.question{
    display:flex;
    background-image: url(https://images.unsplash.com/photo-1531824475211-72594993ce2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    justify-content:center;
    height:100px;
    margin-left:15%;
    margin-right:15%;
    margin-top:40px;
    margin-bottom:10px;
    color:white;
    align-items: center;
    border-radius:7px; 
    text-align: center; 
}
.answers{
    display: flex;
    /*width:80%;*/
    justify-content:center;
    flex-wrap:wrap;
    margin-left:15%;
    margin-right:15%;
}
.answers label{
    display: flex;
    width: 33.33333333333333%;
    overflow: hidden;
    flex-direction: column;
    height:300px;
    border:solid 1px #9e8a83;;
    background-color:#c3a79d;
}
.image-container{
    overflow: hidden;
    height:260px;
}

.answers label img{
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    filter:brightness(0.5);
    width: 100%;
    height: 100%;
}

/*text answer*/
.text-answer{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
.text-answer .answer{
    display:flex;
    font-size:2.5rem;
    text-align:center;
}
.answer{
    display:flex;
    justify-content: center;
    padding-top:8px;
    color:  #634e46;
}

.answers label:hover img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    overflow: hidden;
}
.answers label:hover .text-answer .answer{
    font-size:3rem;
}
/*https://www.w3schools.com/howto/howto_css_zoom_hover.asp*/


input[type="radio"]:checked + label img{
    filter:brightness(1);
}
input[type="radio"]:checked + label .text-answer .answer{
    color:#503d37;
    font-weight:bold;
}
/*https://stackoverflow.com/questions/27993061/css-for-a-checked-radio-buttons-label*/

input[type=radio] {
    display: none;
}

.result{
    display: none;
}
.done-button-area{
    margin-top:40px;
    margin-bottom:40px;
    display:flex;
    justify-content: center;
}
#done-button{
    height:70px;
    width: 200px;
    font-size:2rem;
    background-color:white;
    border-radius: 7px; 
}

/*Source for modal: https://www.w3schools.com/howto/howto_css_modals.asp*/

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
    transform:scaleY(.01) scaleX(0);
    animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
    /*Source for modal animation https://codemyui.com/cool-modal-animations/*/

  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  body > .modal{
    display: none; /* Hidden by default */
}
@media only screen and (max-width: 640px) {
    .answers,.question{
        margin-left:5px;
        margin-right:5px;
    }
    .answers label{
        width: 50%;

        height:210px;
    }
    .image-container{
        overflow: hidden;
        height:190px;
    }
    .text-answer .answer{
        display:flex;
        font-size:2rem;
        text-align:center;
    }
    .answers label:hover .text-answer .answer{
        font-size:2.5rem;
    }
}

@keyframes unfoldIn {
    0% {
      transform:scaleY(.005) scaleX(0);
    }
    50% {
      transform:scaleY(.005) scaleX(1);
    }
    100% {
      transform:scaleY(1) scaleX(1);
    }
  }
/*Source for modal animation https://codemyui.com/cool-modal-animations/*/